# Arquivos temporários
temp/
node_modules/
.vercel/

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Variáveis de ambiente
.env
.env.local
.env.production
